@charset "utf-8";
/* MAIN CSS */

body{
	font:12px/150% Arial,Verdana,Microsoft YaHei,"\5b8b\4f53";
	color:#666;
	background:#fff;
	_background-image:url(about:blank);
	_background-attachment:fixed;
}

.ie6fixedTL{ position:fixed; left:0; top:0;}

.ie6fixedBR{ position:fixed; right:0; bottom:0;}

* html .ie6fixedTL{position:absolute;left:expression(eval(document.documentElement.scrollLeft));top:expression(eval(document.documentElement.scrollTop))}

* html .ie6fixedBR{position:absolute;left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0));top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))}


*{ margin:0; padding:0; }

h1{
	font:20px "microsoft yahei","\5b8b\4f53";
}
h2,h3{
	font-size:14px;
}
h4,h5,h6{
	font-size:12px;
}
a:link,a:visited{
	color:#666;text-decoration:none;
}
a:hover{
	color:#E4393C;text-decoration:underline;
}
a:active{color:#900;}


div{ margin:0 auto; text-align:center;}

div.clear{
	width:100%; height:0; font-size:0; background:#fff; clear:both;
}
div.blank{
	width:100%; height:10px; _height:5px;
}

.hide{ display:none;}

.icon_a{
	display:block;
}
.icon_a div{
	display: inline;
}

img, img:hover{ border:none;}

.w{ width:1210px; }
/** header **/
#header{
	width:100%;
	border-bottom:1px solid #D4D4D4;
	background:#FFFFFF;
	z-index:20;
	padding:5px 0;
}
.head{
	margin:0 auto;
	
}
.m_title {
	float:left;
	padding:0 10px;
	line-height:25px;
	overflow:hidden;
}
.m_title h1{
	font:normal 14px/30px Microsoft YaHei;
}
.m_title h1 span{ }
.m_title h1 strong{
	font: normal 20px/30px Microsoft YaHei;
	color: #E4393C;
}

.user_box{
	float:right;
	list-style:none;
	height:25px;
	line-height:25px;
	margin-top:2px;
}
.user_box li{
	margin:0 10px;
	float:left;
	position:relative;
	display:block;
	z-index:999;
	border:1px solid #FFF;
	/*overflow:visible;*/
}
.user_box li.favorite a{
	width:50px;
	display:block;
	overflow:hidden;
	margin:0 5px;
}
.user_box li.favorite a div{
	width:8px;
	height:6px;
	margin:10px 0px 0 3px;
	background:url(icons.png) 0 -20px;
	float:right;
	overflow:hidden;
}
.user_box li.favorite.cur{
	border:1px solid #D4D4D4;
}
.user_box li .menu-sublist{
	position:absolute;
	right:0;
	background:#FFF;
	border:1px solid #D4D4D4;
	margin-left: 0px;
	background:#FFF;
	z-index:999;
	display:none;
}

#container{
}
.contain{
	top:50px;
	padding-bottom:50px;
}

/***footer***/
.foot{
	width:100%;
	height:21px;
	line-height:21px;
	background:#666666;
	border-top:2px solid #555;
	color:#FFF;
}

.foot a{ color:#FFFFFF;}


/** btn **/

.btn-use, .btn-collect{
	padding: 3px 15px;
	border: 1px solid #DDD;
	border-radius: 2px;
	margin: 0px 4px 0px 0px;
	/*background: -webkit-gradient(linear, 0 0, 0 100%, from(#F7F7F7), to(#F2F2F2));*/
	cursor:pointer;
	line-height:25px;
}
.btn-use:hover, .btn-collect:hover{
	color:#FF0000;
	border: 1px solid #B9DCFF;
}

.close_btn{
	width: 54px;
	height: 21px;
	line-height: 21px;
	_line-height: 22px;
	margin-top:1px;
	overflow: hidden;
	border: 1px solid #E2E2E2;
	font-size: 12px;
	display:block;
}
.close_btn a{
	color:#AAA;
	display:block;
}
.close_btn a div{
	width: 17px;
	height: 17px;
	margin: 2px 2px 0 2px;
	_margin-right: 3px;
	overflow: hidden;
	background: url(icons.png) 3px 0px no-repeat #BEBCBC;
	_zoom: 1;
	float:left;
}
.close_btn:hover div{
	background: url(icons.png) 3px -0px no-repeat #AAA;
}